[tool.poetry]
name = "config_wrangler"
version = "0.5.3"
license = "MIT"
authors = ["Derek Wood"]
description = "pydantic based configuration wrangler. Handles reading multiple ini or toml files with inheritance rules and variable expansions."
readme = "README.md"
repository = "https://github.com/arcann/config_wrangler"


[tool.poetry.dependencies]
python = ">=3.7, <4.0.0"
pydantic = ">=1.8.2"
StrEnum = "^0.4.7"
SQLAlchemy = {version = ">=1.4", optional = true}
boto3 = {version = ">=1.21", optional = true}
pykeepass = {version = ">=4.0.0", optional = true}
auto-all = "^1.4.1"
pydicti = "^1.1.6"

[tool.poetry.extras]
sqlalchemy = ["SQLAlchemy"]
pykeepass = ["pykeepass"]
redshift = ["boto3"]
s3 = ["boto3"]

[tool.poetry.dev-dependencies]
tox = ">=3.24.5"
tox-run-command = ">=0.4"
moto = ">=3.1.9"
# Optional but required for tests so needed for development
boto3 = ">=1.23.4"
botostubs = ">=0.15"
keyring = "^23.9.3"
pykeepass = ">4.0.0"
SQLAlchemy = ">=1.4"

# Required for building docs
Sphinx = ">=4.5.0,<=5.0"
sphinx-pydantic = ">=0.1.1"
autodoc-pydantic = ">=1.7.2"
sphinx-paramlinks = ">=0.5.4"
sphinx-sizzle-theme = ">=0.1.1"
toml = "^0.10.2"
sphinx-autobuild = "^2021.3.14"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
